.number{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
}
.bella{
    padding-left: 40%;
    height: 50%;
    padding-top: 10%;
}
.kho{
    display: flex;
}
.input{
    padding-left: 10px;
}
.ke{
    padding-left: 30px;
}
.com{
    width: 60%;
    border-radius: 15px;
    padding: 10px;
    margin-left: 50px;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.fire{
    padding-left: 150px;
}
.underline{
    color: blue;
    padding-left: 30px;
}
.optionbox{
    border-radius: 5px;
    padding: 10px;
}
.numberbox{
    padding: 10px;
    border-radius: 5px;
}